.palette {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.color {
  width: 3rem;
  height: 3rem;
  opacity: 0.5;
  transition: all 0.2s;
  cursor: pointer;
  background: rgb(52, 58, 64);
}

.color:hover {
  opacity: 0.75;
}

.color.active, .color:active {
  opacity: 1;
}

.color + .color {
  margin-left: 1rem;
}

.comp {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
}